
body{
    background-color: rgb(24, 192, 114);
    color: white;
}

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
}

